$page-color: #c6d9e6;
$main-page: #117da1;
$next-page: #f0fff0;
$btn-color: #f3f3f3;
$light-yellow: #fff59b;
$black: black;
$selection: rgb(107, 146, 231);
$dark-grey: rgb(46, 50, 61);

$slider-color: linear-gradient(15deg, #e5eef7 10%, #b6c5e2 84%);
$kind-lng: linear-gradient(245deg, #b3cdd1 20%, #9fa4c4 74%);
