@use "colors" as *;

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.heading-section{
    margin: 5em 0;
    color: $main-page;
    text-align: center;
    font-size: 1.4rem;
    .underline{
        margin: 10px auto;
        background-color: $main-page;
        width: 50px;
        height: 5px;
        transition: width 0.5s;
    }
    // .underline:hover{
    //     width: 10%;
    // }
}